@media screen and (max-width: 962px) {
    .header-content {
        padding: 16px;
        justify-content: space-around;
    }

    .restaurant-list_content {
        grid-template-columns: auto auto;
        justify-content: center;
        /* padding-left: 16px; */
    }

    .restaurant-list_content h1 {
        grid-column-end: 3;
    }

    .search {
        grid-column-end: 3;
    }

    .assortment {
        padding-left: 16px;
    }
}

@media screen and (max-width: 768px) {
    /* GOD BLESS THIS CODE */
    /* index.html */

    .restaurant-list_content {
        grid-template-columns: auto auto;
        justify-content: center;
        padding-left: 16px;
        padding-right: 16px;
    }

    .restaurant-list_content h1 {
        grid-column-end: 3;
    }

    .search {
        grid-column-end: 3;
    }

    footer {
        padding-left: 16px;
    }

    /* restaurant.html */

    .restaurant {
        width: 100%;
    }

    .restaurant-card {
        margin-left: 16px;
    }

    .restaurant_wrapper {
        width: 100%;
    }

    .assortment {
        padding-left: 16px;
        grid-template-columns: 1fr;
    }

    .assortment__card {

        max-width: none;
    }

    .assortment_name {
        grid-column-end: 1;
    }

    .food-menu {
        margin-left: 0;
    }

    .food-menu ul {
        padding-left: 16px;
    }
}

@media screen and (max-width: 708px) {

    header {
        position: initial;
        height: 72px;
        overflow: visible;
    }

    /* .header-content {
        justify-content: space-evenly;
    } */

    #deliver {
        order: 3;
        margin-top: 115px;
    }

    .search {
        margin-bottom: 80px;
    }

    .restaurant-list_content {
        grid-gap: 8px;
        padding: 2%;
    }
}

@media screen and (max-width: 620px) {

    header {
        position: initial;
        height: 72px;
        overflow: visible;
    }

    .search {
        margin-bottom: 80px;
    }

    .header-content {
        flex-direction: row;
        padding: 16px 8px;
        /* justify-content: space-evenly; */
    }

    #deliver {
        order: 3;
        margin-top: 105px;
    }

    .offers img {
        width: 100%;
        max-width: 311px;
        box-sizing: border-box;
    }

    input {
        padding: 9px;
    }

    .basket {
        display: none;
    }

    .restaurant-list_content {
        padding: 1%;
        grid-gap: 0;
        grid-template-columns: auto;
        justify-content: center;
    }

    .restaurant-list_content h1 {
        grid-column-end: 1;
    }

    .search {
        grid-column-end: 1;
    }


    .offers img {
        width: 311px;
    }

    footer {
        padding-left: 8px;
        justify-content: start;
    }

    .footer-content-wrapper {
        width: 100%;
    }

    .content {
        grid-gap: 0;
        grid-template-columns: auto;
    }

    #deliver__location {

        width: 180px;
    }

    .appstore {
        margin: 0 8px 0 0;
    }

    .googleplay {
        margin: 0;
    }

    .registration-wrapper {
        width: 180px;
    }

    header label {
        position: absolute;
        display: initial;
        font-size: 0.75rem;
        color: var(--alt-faded-color, gray);
    }

    label[for="deliver__time"] {
        top: 144px;
        left: 8px;
    }

    label[for="deliver__location"] {
        top: 144px;
        left: 104px;
    }

    .content:nth-child(3) {
        justify-content: center;
    }

    /* restaurant */


    .food-menu {
        display: none;
    }

    .restaurant {
        height: 255.89px;
        justify-content: center;
    }

    .restaurant-card {
        margin: 208px 0 0 0;
        width: 308px;
        justify-items: center;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 0.1fr 0.7fr;
    }

    .restaurant-card__type {
        grid-row-start: 2;
        grid-row-end: 2;
        grid-column-start: 1;
        grid-column-end: 4;
    }

    .restaurant-card__time {
        grid-row-start: 3;
        grid-row-end: 3;
        grid-column-start: 1;
        grid-column-end: 4;
    }

    .restaurant-card h1 {
        font-size: 1.9rem;
    }

    .assortment {
        grid-gap: 16px;
        margin-top: 64px;
        padding: 40px 8px 40px 8px;
    }

    .assortment__card {
        height: 110px;
        border-top: none;
        border-left: none;
        border-right: none;
    }

    .assortment_name {
        justify-self: center;
        margin-bottom: 16px;
        position: relative;
    }

    .assortment_name:after {
        top: 16px;
        right: 43px;
        width: 0px;
        height: 48px;
        content: ' ';
        color: white;
        position: absolute;
        overflow: hidden;
        border-right: 1px solid var(--main-color, black);
        transform: rotate(-90deg);
    }

    .assortment__card-info {
        padding-left: 0;
    }

    .assortment__card--name {
        font-size: 0.9rem;
    }

    img[alt="food_image"] {
        height: 110px;
        width: 110px;
    }

    .go-to-top {
        width: 64px;
        height: 64px;
    }
}